.DS_Store
.vscode/
.idea/
.gitattributes
.ignore
.gitignore
.bumpversion.cfg
.codecov.yml
.README.md
.pre-commit-config.yaml
LICENSE
*.exe
coverage*
tasks.py

.git/
.github/
website/
test/
proto/
screenshots/
build/

**/dist
**/node_modules
