# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore bazel files without extension
!**/WORKSPACE
!**/BUILD

# Unignore Dockerfile and other useful files
!**/Dockerfile
!**/.dockerignore
!**/LICENSE

### Above combination will ignore all files without extension ###

.DS_Store
.vscode/
.idea/
public/
coverage*
*.exe
build/
**/dist
**/node_modules
icon/
**/debug.yaml
deployment/