# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore bazel files without extension
!**/WORKSPACE
!**/BUILD

# Unignore Dockerfile and other useful files
!**/Dockerfile
!**/.dockerignore
!**/.gitattributes
!**/LICENSE

### Above combination will ignore all files without extension ###

.DS_Store
.vscode/
.idea/
coverage*
*.exe
build/
public/charts
**/dist
**/node_modules
**/debug.yaml
**/index.yaml